.navbar-brand img {
    height: 30px;
}

.carousel-inner>.item>img {
    width: 100%;
    height: 350px;
}

.thumbnail img {
    width: 100%;
}

.product-info h4 {
    margin: 10px 0;
}

.ratings .glyphicon {
    color: gold;
}

.footer {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

.product-details {
    margin: 30px auto;
    max-width: 800px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.thumbnail-variants img {
    width: 100%;
    cursor: pointer;
}